In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler
import numpy as np
from sklearn.metrics import mean_squared_error, r2_score
import math
import matplotlib.pyplot as plt

In [3]:
import lightgbm as lgb
from lightgbm import LGBMRegressor

In [4]:
df = pd.read_csv("data/df.csv")

In [5]:
df.head()

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,2072,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,10600,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,2494,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,4284,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,16541,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND

In [6]:
df = df.drop(["Unnamed: 0"], axis=1)

In [7]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND

In [8]:
df = df.dropna()

In [9]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,INLAND
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,<1H OCEAN
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,INLAND
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,<1H OCEAN
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,INLAND

## normalisation

## robust scaler

In [10]:
df_1 = pd.get_dummies(df, columns=['ocean_proximity'])
df_1.to_csv('data/df_1.csv')

In [11]:
df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-119.84,36.77,6.0,1853.0,473.0,1397.0,417.0,1.4817,72000.0,False,True,False,False,False
1,-117.80,33.68,8.0,2032.0,349.0,862.0,340.0,6.9133,274100.0,True,False,False,False,False
2,-120.19,36.60,25.0,875.0,214.0,931.0,214.0,1.5536,58300.0,False,True,False,False,False
3,-118.32,34.10,31.0,622.0,229.0,597.0,227.0,1.5284,200000.0,True,False,False,False,False
4,-121.23,37.79,21.0,1922.0,373.0,1130.0,372.0,4.0815,117900.0,False,True,False,False,False

In [12]:
value_house = df[['median_house_value']]
value_house = value_house.reset_index(drop=True)

In [13]:
rs_df_1 = df_1.copy()

In [14]:
rs = RobustScaler()
rs_df_1 = rs.fit_transform(rs_df_1)
rs_df_1 = pd.DataFrame(rs_df_1)
rs_df_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.357143,0.664908,-1.210526,-0.153914,0.108262,0.242328,0.021472,-0.944277,-0.740255,0.0,1.0,0.0,0.0,0.0
1,0.182540,-0.150396,-1.105263,-0.048759,-0.245014,-0.323810,-0.214724,1.558130,0.654019,1.0,0.0,0.0,0.0,0.0
2,-0.449735,0.620053,-0.210526,-0.728448,-0.629630,-0.250794,-0.601227,-0.911152,-0.834771,0.0,1.0,0.0,0.0,0.0
3,0.044974,-0.039578,0.105263,-0.877074,-0.586895,-0.604233,-0.561350,-0.922762,0.142808,1.0,0.0,0.0,0.0,0.0
4,-0.724868,0.934037,-0.421053,-0.113379,-0.176638,-0.040212,-0.116564,0.253484,-0.423594,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16331,-0.902116,1.408971,-0.473684,-0.381848,-0.447293,-0.447619,-0.490798,-0.215982,-0.589859,0.0,1.0,0.0,0.0,0.0
16332,-0.994709,1.018470,1.052632,0.146864,0.196581,-0.039153,0.147239,-0.422934,-0.525699,0.0,0.0,0.0,1.0,0.0
16333,-0.722222,1.232190,-0.526316,0.244382,0.074074,0.040212,0.058282,0.444357,0.091756,0.0,1.0,0.0,0.0,0.0
16334,0.092593,-0.023747,0.526316,0.388310,1.153846,1.458201,1.113497,-0.440580,-0.177992,1.0,0.0,0.0,0.0,0.0
16335,-1.492063,1.728232,0.105263,0.021736,0.076923,0.096296,0.030675,-0.591325,-0.677475,0.0,0.0,0.0,0.0,1.0

In [15]:
rs_df_1.columns = df_1.columns
rs_df_1.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-0.357143,0.664908,-1.210526,-0.153914,0.108262,0.242328,0.021472,-0.944277,-0.740255,0.0,1.0,0.0,0.0,0.0
1,0.182540,-0.150396,-1.105263,-0.048759,-0.245014,-0.323810,-0.214724,1.558130,0.654019,1.0,0.0,0.0,0.0,0.0
2,-0.449735,0.620053,-0.210526,-0.728448,-0.629630,-0.250794,-0.601227,-0.911152,-0.834771,0.0,1.0,0.0,0.0,0.0
3,0.044974,-0.039578,0.105263,-0.877074,-0.586895,-0.604233,-0.561350,-0.922762,0.142808,1.0,0.0,0.0,0.0,0.0
4,-0.724868,0.934037,-0.421053,-0.113379,-0.176638,-0.040212,-0.116564,0.253484,-0.423594,0.0,1.0,0.0,0.0,0.0

In [16]:
# je degage la colonne target scalée
rs_df_1 = rs_df_1.drop(['median_house_value'], axis=1)

In [17]:
#rs_df_1 = rs_df_1.drop(['median_house_value'], axis=1)

In [18]:
rs_df_1 = pd.concat([rs_df_1,value_house],axis=1)

In [19]:
rs_df_1

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,median_house_value
0,-0.357143,0.664908,-1.210526,-0.153914,0.108262,0.242328,0.021472,-0.944277,0.0,1.0,0.0,0.0,0.0,72000.0
1,0.182540,-0.150396,-1.105263,-0.048759,-0.245014,-0.323810,-0.214724,1.558130,1.0,0.0,0.0,0.0,0.0,274100.0
2,-0.449735,0.620053,-0.210526,-0.728448,-0.629630,-0.250794,-0.601227,-0.911152,0.0,1.0,0.0,0.0,0.0,58300.0
3,0.044974,-0.039578,0.105263,-0.877074,-0.586895,-0.604233,-0.561350,-0.922762,1.0,0.0,0.0,0.0,0.0,200000.0
4,-0.724868,0.934037,-0.421053,-0.113379,-0.176638,-0.040212,-0.116564,0.253484,0.0,1.0,0.0,0.0,0.0,117900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16331,-0.902116,1.408971,-0.473684,-0.381848,-0.447293,-0.447619,-0.490798,-0.215982,0.0,1.0,0.0,0.0,0.0,93800.0
16332,-0.994709,1.018470,1.052632,0.146864,0.196581,-0.039153,0.147239,-0.422934,0.0,0.0,0.0,1.0,0.0,103100.0
16333,-0.722222,1.232190,-0.526316,0.244382,0.074074,0.040212,0.058282,0.444357,0.0,1.0,0.0,0.0,0.0,192600.0
16334,0.092593,-0.023747,0.526316,0.388310,1.153846,1.458201,1.113497,-0.440580,1.0,0.0,0.0,0.0,0.0,153500.0
16335,-1.492063,1.728232,0.105263,0.021736,0.076923,0.096296,0.030675,-0.591325,0.0,0.0,0.0,0.0,1.0,81100.0

# MODEL

## split données

In [20]:
X = rs_df_1.drop(["median_house_value"], axis=1)
y = rs_df_1[["median_house_value"]]

In [21]:
print(X.shape, y.shape)

(16336, 13) (16336, 1)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# X_test_scaled = rs.transform(X_test)

In [24]:
print(X.shape,y.shape,X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(16336, 13) (16336, 1) (13068, 13) (13068, 1) (3268, 13) (3268, 1)

## MLflow

In [ ]:
import mlflow
import mlflow.keras

# Set the experiment name
mlflow.set_experiment("Keras Experiment")

# Start a new run
with mlflow.start_run(run_name="My Run Name"):
    # Log the model
    mlflow.keras.log_model(model, "model")
    
    # Log the parameters
    mlflow.log_param("batch_size", 32)
    mlflow.log_param("epochs", 15)
    
    # After fitting the model, log metrics
    mlflow.log_metric("final_accuracy", history.history['accuracy'][-1])
    mlflow.log_metric("final_val_accuracy", history.history['val_accuracy'][-1])
    mlflow.log_metric("final_recall", final_recall)
    mlflow.log_metric("final_f1", final_f1)

# baseline model

In [38]:
model = LGBMRegressor()
model.fit(X_train, y_train)

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000970 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1845
[LightGBM] [Info] Number of data points in the train set: 13068, number of used features: 12
[LightGBM] [Info] Start training from score 206259.236532

LGBMRegressor()

In [39]:
predictions = model.predict(X_test)

In [40]:
predictions

array([370091.18865035, 142650.94588643, 247411.24838929, ...,
       169665.01126647, 127687.89156415, 227762.33028651])

In [41]:
r2 = r2_score(y_test, predictions)
print("R² Score:", r2)

R² Score: 0.8183032714002763

In [42]:
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 2388975964.484864

In [43]:
rmse = math.sqrt(mse)
print("rmse")
print(rmse)

rmse
48877.151763220245

## Learning Curve Baseline model

In [ ]:
from sklearn.model_selection import learning_curve

In [ ]:
def plot_learning_curve (nom_model, jeu_entrainement, target_entrainement) :
    # Génération de la courbe d'apprentissage
    train_sizes, train_scores, test_scores = learning_curve(nom_model, jeu_entrainement, target_entrainement, n_jobs=-1, train_sizes=np.linspace(0.1, 1.0, 10))

    # Calcul des scores moyens et des écarts types pour les ensembles d'entraînement et de test
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    
  

    # Tracé de la courbe d'apprentissage avec redimensionnement de la figure
    fig, ax = plt.subplots(figsize=(12, 6))
    ax.set_title("Courbe d'apprentissage")
    ax.set_xlabel("Taille de l'ensemble d'entraînement")
    ax.set_ylabel("Score")
    ax.grid()
    ax.fill_between(train_sizes, train_scores_mean - train_scores_std, train_scores_mean + train_scores_std, alpha=0.1, color="r")
    ax.fill_between(train_sizes, test_scores_mean - test_scores_std, test_scores_mean + test_scores_std, alpha=0.1, color="g")
    ax.plot(train_sizes, train_scores_mean, 'o-', color="r", label="Score d'entraînement")
    ax.plot(train_sizes, test_scores_mean, 'o-', color="g", label="Score de validation croisée")
    ax.legend(loc="best")
    plt.show()

plot_learning_curve(model2, X_train, y_train)

# Modification hyperparametres

In [44]:
model2 = LGBMRegressor(num_leaves = 32, lambda_l1 = 10, feature_fraction = 0.8, bagging_freq = 3)
model2.fit(X_train, y_train)

[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] lambda_l1 is set=10, reg_alpha=0.0 will be ignored. Current value: lambda_l1=10
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] lambda_l1 is set=10, reg_alpha=0.0 will be ignored. Current value: lambda_l1=10
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001018 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 1845
[LightGBM] [Info] Number of data points in the train set: 13068, number of used features: 12
[LightGBM] [Info] Start training from score 206259.236532

LGBMRegressor(bagging_freq=3, feature_fraction=0.8, lambda_l1=10, num_leaves=32)

In [45]:
predictions = model2.predict(X_test)

[LightGBM] [Warning] feature_fraction is set=0.8, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.8
[LightGBM] [Warning] lambda_l1 is set=10, reg_alpha=0.0 will be ignored. Current value: lambda_l1=10
[LightGBM] [Warning] bagging_freq is set=3, subsample_freq=0 will be ignored. Current value: bagging_freq=3

In [46]:
predictions

array([386584.03289287, 137459.23458772, 264502.11688817, ...,
       172213.01567438, 124163.98671385, 225867.47522836])

In [47]:
r2 = r2_score(y_test, predictions)
print("R² Score:", r2)

R² Score: 0.8216075624979176

In [48]:
mse = mean_squared_error(y_test, predictions)
print("Mean Squared Error:", mse)

Mean Squared Error: 2345530647.264452

In [49]:
rmse = math.sqrt(mse)
print("rmse")
print(rmse)

rmse
48430.67878178513

## Learning Curve

In [50]:
from sklearn.model_selection import learning_curve

In [ ]:
def plot_learning_curve (nom_model, jeu_entrainement, target_entrainement) :
    # Génération de la courbe d'apprentissage
    train_sizes, train_scores, test_scores = learning_curve(nom_model, jeu_entrainement, target_entrainement, n_jobs=-1, train_sizes=np.linspace(0.1, 1.0, 10))

    # Calcul des scores moyens et des écarts types pour les ensembles d'entraînement et de test
    train_scores_mean = np.mean(train_scores, axis=1)
    train_scores_std = np.std(train_scores, axis=1)
    test_scores_mean = np.mean(test_scores, axis=1)
    test_scores_std = np.std(test_scores, axis=1)
    
  

    # Tracé de la courbe d'apprentissage avec redimensionnement de la figure
    fig, ax = plt.subplots(figsize=(12, 6))
    ax.set_title("Courbe d'apprentissage")
    ax.set_xlabel("Taille de l'ensemble d'entraînement")
    ax.set_ylabel("Score")
    ax.grid()
    ax.fill_between(train_sizes, train_scores_mean - train_scores_std, train_scores_mean + train_scores_std, alpha=0.1, color="r")
    ax.fill_between(train_sizes, test_scores_mean - test_scores_std, test_scores_mean + test_scores_std, alpha=0.1, color="g")
    ax.plot(train_sizes, train_scores_mean, 'o-', color="r", label="Score d'entraînement")
    ax.plot(train_sizes, test_scores_mean, 'o-', color="g", label="Score de validation croisée")
    ax.legend(loc="best")
    plt.show()

In [ ]:
plot_learning_curve(model2, X_train, y_train)

## Export du Model

In [59]:
import pickle

In [61]:
with open('data/model.pkl', 'wb') as f:
    pickle.dump(model2, f)